<h1>About Guinan</h1>

<figure>
  <div><img src="/img/Guinan_2379.jpg" alt="Guinan"></div>
  <q>My name is Guinan. I tend bar, and I listen.</q>
  <figcaption>Guinan, 2368 (<cite>"Ensign Ro"</cite>)</figcaption>
</figure>

<div>
  <div id="bio">
    <h2>Mini Bio</h2>
    <p>
      Guinan is an enigmatic bartender who ran Ten Forward, the lounge aboard the USS Enterprise-D. She is well known for her wise counsel, which proved invaluable many times.
    </p>
    <p>
      Guinan is an El-Aurian, a race of "listeners" who were scattered by the Borg. She is several hundred years old and is noted for her warmth and folk wisdom, which she often uses to defuse difficult situations or comfort others aboard the Enterprise-D as they struggle with something.
    </p>
    <p>
      Q, however, once suggested that there was far more to her than could be imagined.
    </p>
  </div>
  <div id="profile">
    <h2>Profile</h2>
    <p><span>Species: </span>El-Aurian</p>
    <p><span>Occupation: </span>Bartender</p>
    <p><span>Status: </span>Active (2379)</p>
    <p><span>Known Relatives: </span>Father, Mother, Uncle Terkim</p>
    <p><span>Children: </span>"A lot"</p>
    <p><span>Played by: </span>Whoopi Goldberg (grown-up), Isis J. Jones (child)</p>
  </div>
</div>


