<h1>Do you know Guinan?</h1>

<h2>Aren't you just curious?</h2>

<div id="page-links">
  <div>
    <h3>About Her</h3>
    <a href="/about"><img src="/img/Guinan_2366.jpg" alt="Guinan"></a>
  </div>
  <div>
    <h3>Her Works</h3>
    <a href="/works"><img src="/img/Picard_and_Guinan_(2368)_fencing.jpg" alt="Fencing with Picard"></a>
  </div>
  <div>
    <h3>Her Gallery</h3>
    <a href="/gallery"><img src="/img/Guinan_and_Data_1893.jpg" alt="Guinan and Data"></a>
  </div>
</div>